PORT=3001
NODE_ENV=production

DOCTORALIA_DOMAIN=doctoralia.es
DOCTORALIA_BASE_URL=https://www.doctoralia.es/api/v3/integration
DOCTORALIA_TOKEN_URL=https://www.doctoralia.es/oauth/v2/token

DOCTORALIA_CLIENT_ID=xxx_production
DOCTORALIA_CLIENT_SECRET=xxx_production

# En producción estos IDs deben quedar rellenos tras el mapeo validado.
FACILITY_ID=
DOCTOR_ID=
ADDRESS_ID=
ADDRESS_SERVICE_ID=

FRONTEND_ORIGIN=https://dominio-real.com
WEBHOOK_SECRET=generar_un_secreto_largo_production
